<div class="animated fadeIn">
    <div class="pull-right">
        <button class="btn btn-primary" data-toggle="modal" (click)="addHostData.show = !addHostData.show">
            <i class="fa fa-plus"></i>
            Host hinzufügen
        </button>
    </div>
    <h1>Hosts</h1>

    <div class="row" *ngIf="addHostData.show">
        <div class="col-lg-12">
            <div class="card card-accent-primary">
                <div class="card-header">neuen Host hinzufügen</div>
                <div class="card-block">
                    <div class="row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <label for="address">Adresse & Port</label>
                            <div class="input-group">
                                <input required type="text" id="address" placeholder="Adresse" *ngIf="addHostData" [(ngModel)]="addHostData.address" class="form-control">
                                <input required type="number" id="port" placeholder="Port" *ngIf="addHostData" [(ngModel)]="addHostData.port" class="input-group-addon">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input required type="text" id="name" placeholder="Name" *ngIf="addHostData" [(ngModel)]="addHostData.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Beschreibung</label>
                            <textarea required class="form-control" rows="3" placeholder="Beschreibung" [(ngModel)]="addHostData.description"></textarea>
                        </div>
                        <button class="btn btn-primary" (click)="addHost()">Hinzufügen</button>
                    </div>
                    <div class="col-lg-4">
                    Damit ein Host hinzugefügt werden kann muss eine Instanz von <i>cadvisor</i> darauf laufen. Um eine Instanz zu starten kann der folgende Befehl verwendet werden:

                    <pre>sudo docker run \
--volume=/:/rootfs:ro \
--volume=/var/run:/var/run:rw \
--volume=/sys:/sys:ro \
--volume=/var/lib/docker/:/var/lib/docker:ro \
--publish={{ addHostData.port || 8080 }}:8080 \
--detach=true \
--name=cadvisor \
google/cadvisor:latest</pre>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="hosts.length != 0">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    Liste
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Adresse</td>
                                <td>Beschreibung</td>
                                <td>Container</td>
                                <td>Optionen</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let host of hosts" (click)="setActiveHost(host)">
                                <td>{{host.id}}</td>
                                <td>{{host.name}}</td>
                                <td>{{host.address}}</td>
                                <td>{{host.description}}</td>
                                <td><span class="badge badge-primary">{{host.containers.length }}</span></td>
                                <td><button class="btn btn-default btn-sm btn-danger"><i class="fa fa-trash" (click)="removeHost(host)"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="card">
                <div class="card-header">
                    Details
                </div>
                <div class="card-block">
                    <host [host]="activeHost" *ngIf="activeHost"></host>
                    <div *ngIf="!activeHost" class="text-center">
                        <i class="fa fa-cubes fa-3x"></i><br>
                        Einen Host auswählen um Details anzuzeigen
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="nohosts" class="col-lg-12 text-center" *ngIf="hosts.length == 0">
        <i class="icon-layers fa-5x"></i>
        <div style="margin-top: 20px">
            Es wurden bisher keine Hosts angelegt. Um einen Host anzulegen klicken Sie auf "Host hinzufügen"
        </div>
    </div>
</div>
